USE [master]
GO
/****** Object:  Database [HrSecond]    Script Date: 13/07/2020 14:12:38 ******/
CREATE DATABASE [HrSecond]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HrSecond', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HrSecond.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HrSecond_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HrSecond_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HrSecond].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HrSecond]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13/07/2020 14:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cvs]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cvs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CvName] [nvarchar](max) NULL,
	[CvSurname] [nvarchar](max) NULL,
	[CvAge] [int] NOT NULL,
	[CvSex] [nvarchar](max) NULL,
	[CvWorkExperiment] [nvarchar](max) NULL,
	[CvCity] [nvarchar](max) NULL,
	[CvMinSalary] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[EducationName] [nvarchar](max) NULL,
	[WorkName] [nvarchar](max) NULL,
	[Userid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cvs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EducationName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElanCvs]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElanCvs](
	[Elan_Id] [int] NOT NULL,
	[Cv_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ElanCvs] PRIMARY KEY CLUSTERED 
(
	[Elan_Id] ASC,
	[Cv_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elans]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ElanName] [nvarchar](max) NULL,
	[ShirketName] [nvarchar](max) NULL,
	[Workname] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Salary] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Experience] [nvarchar](max) NULL,
	[Education] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Userid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Elans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[WhichUser] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works]    Script Date: 13/07/2020 14:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Works] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Userid]    Script Date: 13/07/2020 14:12:39 ******/
CREATE NONCLUSTERED INDEX [IX_Userid] ON [dbo].[Cvs]
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cv_Id]    Script Date: 13/07/2020 14:12:39 ******/
CREATE NONCLUSTERED INDEX [IX_Cv_Id] ON [dbo].[ElanCvs]
(
	[Cv_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Elan_Id]    Script Date: 13/07/2020 14:12:39 ******/
CREATE NONCLUSTERED INDEX [IX_Elan_Id] ON [dbo].[ElanCvs]
(
	[Elan_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Userid]    Script Date: 13/07/2020 14:12:39 ******/
CREATE NONCLUSTERED INDEX [IX_Userid] ON [dbo].[Elans]
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cvs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cvs_dbo.Users_Userid] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Cvs] CHECK CONSTRAINT [FK_dbo.Cvs_dbo.Users_Userid]
GO
ALTER TABLE [dbo].[ElanCvs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ElanCvs_dbo.Cvs_Cv_Id] FOREIGN KEY([Cv_Id])
REFERENCES [dbo].[Cvs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElanCvs] CHECK CONSTRAINT [FK_dbo.ElanCvs_dbo.Cvs_Cv_Id]
GO
ALTER TABLE [dbo].[ElanCvs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ElanCvs_dbo.Elans_Elan_Id] FOREIGN KEY([Elan_Id])
REFERENCES [dbo].[Elans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElanCvs] CHECK CONSTRAINT [FK_dbo.ElanCvs_dbo.Elans_Elan_Id]
GO
ALTER TABLE [dbo].[Elans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Elans_dbo.Users_Userid] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Elans] CHECK CONSTRAINT [FK_dbo.Elans_dbo.Users_Userid]
GO
USE [master]
GO
